<div class="row">
  <div class="col-xs-12">
    <img src="" >
    <h1>Recipe Title</h1>
    <p>Recipe Description</p>
    <ul class="list-group">
      <li class="list-group-item">
        Ingredients
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="dropdown" appDropdown>
      <button
      class="btn btn-primary dropdown-toggle" type="button">
        Manage Recipes
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" >
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
