<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="ingredientName">Name</label>
        <input type="text" name="ingredientName" id="ingredientName" class="form-control">
        <div class="form-group">
          <label for="ingredientAmount">Amount</label>
          <input type="number" name="ingredientAmount" id="ingredientAmaount" class="form-control">
        </div>
        <div class="btn-toolbar mx-2">
          <button class="btn btn-success" type="button">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Cancle</button>
        </div>
      </div>
    </form>
  </div>
</div>
