<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="ingredientName">Name</label>
          <input
            type="text"
            name="ingredientName"
            id="ingredientName"
            class="form-control"
            #ingredientName>
        </div>

        <div class="form-group col-sm-2">
          <label for="ingredientAmount">Amount</label>
          <input
            type="number"
            name="ingredientAmount"
            id="ingredientAmaount"
            class="form-control"
            #ingredientAmount>
        </div>
      </div>
      <div class="btn-toolbar mx-2">
        <button
          class="btn btn-success"
          type="submot"
          (click)="onAddIngredient()">Add</button>
        <button
          class="btn btn-danger"
          type="button"
          (click)="onDeleteIngredient()">Delete</button>
        <button
          class="btn btn-primary"
          type="button">Cancle</button>
      </div>
    </form>
  </div>
</div>
